aiohttp==3.9.1
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.1.0
blinker==1.7.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
dill==0.3.7
einops==0.8.0
faiss-gpu==1.7.2
filelock==3.13.1
Flask==3.0.0
frozenlist==1.4.0
fsspec==2023.10.0
-e git+https://github.com/vivek3141/ghostbuster.git@2a4811a24102e7bfbe760dba0f7f47fbcfc0d01b#egg=ghostbuster
h5py==3.11.0
huggingface-hub==0.23.0
idna==3.6
install==1.3.5
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
loguru==0.7.2
MarkupSafe==2.1.3
# Editable install with no version control (megatron_core==0.4.0rc0)
-e /mnt
mpmath==1.3.0
multidict==6.0.4
networkx==3.2.1
nltk==3.8.1
numpy==1.26.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.1.105
openai==0.28.1
pandas==2.1.3
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3.post1
regex==2023.10.3
requests==2.31.0
safetensors==0.4.3
scikit-learn==1.2.1
scipy==1.11.4
sentencepiece==0.2.0
six==1.16.0
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
threadpoolctl==3.2.0
tiktoken==0.5.1
tokenizers==0.19.1
torch==2.1.0
torchaudio==2.3.0
torchvision==0.16.0
tqdm==4.66.1
transformer-engine @ git+https://github.com/NVIDIA/TransformerEngine.git@9709147e35ec09062d29712042c3aba3cb1ab57e
transformers==4.41.1
triton==2.1.0
typing_extensions==4.11.0
tzdata==2023.3
urllib3==2.1.0
Werkzeug==3.0.1
yarl==1.9.3
